body {
    background-color: white;
    background-image: url(img/fond2.png);

    color: #424242;

    display: flex;
    min-width: 650px;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    max-width: 900px;
}

.brand-logo {
    left: 50px;
}

.uppercase {
    text-transform: uppercase;
}

.prez {
    margin-top: -60px;
}

.info_perso {

    //min-width: 591px;
    background-color: red;
}

.round {
    float: left;
    display: inline-block;

    z-index: 1;
    margin-left: 10px;

    overflow: hidden;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;

    width: 250px;
    height: 250px;

    -moz-box-shadow: 0px 0px 12px grey;
    -webkit-box-shadow: 0px 0px 12px grey;
    -o-box-shadow: 0px 0px 12px grey;
    box-shadow: 0px 0px 12px grey;
}

.shadow {
    -moz-box-shadow: 0px 0px 6px #BDBDBD;
    -webkit-box-shadow: 0px 0px 6px #BDBDBD;
    -o-box-shadow: 0px 0px 6px #BDBDBD;
    box-shadow: 0px 0px 6px #BDBDBD;
}

.round img {
    position: relative;
    height: 250px;
    width: 250px;
}

.round {
    position: relative;
    float: right;
    display: inline-block;
	// width: 100%;
}

.info {
    float: left;
    margin-top: -10px;
    margin-left: -60px;
	//min-width:320px;
	//width:120%;
	
}


.theme_color {
    color: #1976d2;
}

.up {
    position: relative;
    top: 20px;
    margin-top: -25px;
    padding-bottom: 30px;
    color: #1976d2;
}

.up_min {
    position: relative;
    top: 10px;
    margin-top: -15px;
    padding-bottom: 10px;
 // margin-left: 20 px;
    color: #1976d2;
}

.imglink {
    height: 50px;
    margin-bottom: -18px;
    margin-left: 30px;

}

.imglink:over {

}

hr {
    border-top: 1px solid #BDBDBD;
    margin-bottom: 25px;
    width: 30%;
    clear: both;
    line-height: 1;
    text-align: center;
    border-radius: 10px 0;
}

a {
    cursor: pointer;
    color: #1976d2;
}

#card_st1, #card_st2, #card_st3 {
// display: none;
}


.cd_perso {
    background: #1976d2;
}


.centerdiv{
	margin-left: auto;
    margin-right: auto;
	//width 590px;
}










#secondaire{

}

#filtre {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: black;
    opacity: 0.7;
    z-index: 3;
    filter: alpha(opacity=70);
}


#first {
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 70%;
    z-index: 4;
}


.card{
    background-color: #FFFFFF;
}
